.popup {
    flex-direction: column;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: fixed;
    overflow:hidden;
    right: 0;
    top: 0;
    width:100%;
    min-height:100%;
    background-color: rgb(0, 0, 0, .6 );
}