.popup__input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    height: 34px;
    min-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 35px 23px 35px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .popup__input {
        font-size: 14px;
        min-height: 27px;
        line-height: 1.214;
        margin: 0 22px calc(30px - (27px - 13px)/2) 22px;
        min-width: 238px;
    }
}