.profile {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    min-height: 120px;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        min-height: 286px;
        padding-top: 42px;
        padding-bottom: 36px;
        min-width: 282px;
    }
}