.header {
    display: flex;
    justify-content: start;
    align-items: start;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
    max-width: 880px;
    min-height: 74px;
    margin: 45px 200px 0 200px;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 45px 70px 0 70px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        min-height: 56px;
        margin: 28px 0 0 0;
    }
}