.popup__body {
    background-color: #FFFFFF;
    color: #000000;
    flex-direction: column;
    align-items: start;
    min-height: 330px;
    max-width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 10px;
    position: fixed;
    left: calc((100% - 430px)/2);
    top: calc((100% - 330px)/2);
}

@media screen and (max-width: 767px) {
    .popup__body {
        min-height: 322px;
        max-width: 282px;
        left: calc((100% - 282px)/2);
        top: calc((100% - 322px)/2);;
    }
}