.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 880px;
    padding-bottom: 60px;
    padding-top: 66px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 48px;
        min-height: 14px;
        padding-bottom: 36px;
        padding-left: 19px;
    }
}