.popup__submit-botton {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    min-height: 50px;
    min-width: 358px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    align-items: center;
    justify-content: center;
    margin: 25px 36px 37px 36px;
    text-decoration: none;
}

.popup__submit-botton:hover {
    transition: opacity .3s ease;
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__submit-botton {
        font-size: 14px;
        line-height: 1.214;
        min-height: 46px;
        min-width: 238px;
        margin: 22px 22px 25px 22px;
    }
}