.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    padding: 34px 64px calc(54px - (34px - 17px)/2) 36px;
    margin: 0;
    min-width: 330px;
    max-height: 23px;
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 1.222;
        padding: 25px 22px calc(75px - (27px - 13px)/2) 22px;
        min-width: 238px;
        max-height: 22px;
    }
}