.profile__add-botton {
    all: unset;
    min-height: 48px;
    min-width: 148px;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
}

.profile__add-botton:hover {
    transition: opacity .3s ease;
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-botton {
        width: 100%;
    }
}