.profile__edit-botton {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../../../../images/edition.svg);
    min-height: 23px;
    min-width: 23px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    border: 1px solid #FFFFFF;
}

.profile__edit-botton:hover {
    transition: opacity .3s ease;
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-botton {
        min-height: 16px;
        min-width: 16px;
        background-size: 50%;
    }
}